* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Alata", sans-serif;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.5rem;
  font-weight: 100;
}

h2 {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: block;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

.container {
  padding: 3rem 1rem;
}

section {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
}

header {
  background-image: url("./imgs/mobile/image-hero.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav * {
  cursor: pointer;
}

.nav-items-desktop {
  display: none;
}

.logo {
  z-index: 5;
}

.logo img {
  width: 150px;
}

#nav-btn {
  border: none;
  background: none;
  color: white;
  font-size: 2rem;
  z-index: 5;
}

h1 {
  border: 2px solid white;
  font-size: 2.5rem;
  margin: auto;
}

#About article {
  margin: 1rem 0rem;
  text-align: center;
}

#About article p {
  line-height: 1.6;
  color: dimgray;
  padding: 0rem 2rem;
}

#our-creation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#our-creation h2 {
  text-align: center;
}

#our-creation button {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  border-radius: 0px;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  margin: 2rem auto;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#our-creation button:hover {
  background-color: black;
  color: white;
}

#grid-images {
  margin: 2rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

#grid-images li {
  cursor: pointer;
  position: relative;
}

#grid-images li h3 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  color: white;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.493)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.493) 0%, rgba(0, 0, 0, 0) 100%);
}

#grid-images li h3:hover {
  background: none;
  background-color: rgba(255, 255, 255, 0.43);
  color: black;
}

footer {
  background-color: black;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 2rem;
}

footer p {
  color: #8c8c8c;
}

.nav-items-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

address a {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

address a i:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.nav-items-mobile {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}

.desktop-img {
  display: none;
}

.mobile-img {
  display: block;
}

@media screen and (min-width: 1100px) {
  section {
    margin-top: 10rem;
  }
  .container {
    padding: 3rem 10%;
  }
  #nav-btn {
    display: none;
  }
  .nav-items-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  h1 {
    margin: auto 0;
    font-size: 4rem;
    line-height: 1;
    width: 55%;
  }
  #About {
    position: relative;
  }
  #About img {
    width: 60%;
  }
  #About article {
    text-align: left;
    background-color: white;
    width: 50%;
    padding: 2rem;
    position: absolute;
    top: 40%;
    left: 45%;
  }
  #our-creation button {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  footer {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  footer p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-align: right;
        justify-self: right;
  }
  footer address {
    -ms-grid-column-align: right;
        justify-self: right;
  }
  .logo-footer {
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .nav-items-footer {
    -ms-grid-column-align: left;
        justify-self: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .desktop-img {
    display: block;
  }
  .mobile-img {
    display: none;
  }
}
