//colors

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Dark-Gray: hsl(0, 0%, 55%);
$Very-Dark-Gray: hsl(0, 0%, 41%);

//reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Alata", sans-serif;
}

body {
  min-height: 100vh;
}

//global styles

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.5rem;
  font-weight: 100;
}

h2 {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: block;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

.container {
  padding: 3rem 1rem;
}

section {
  margin-bottom: 1rem;
}
footer {
  text-align: center;
}

// main style

header {
  background-image: url("/imgs/mobile/image-hero.jpg");
  background-position: center;
  background-size: cover;
  color: $White;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & * {
    cursor: pointer;
  }
}

.nav-items-desktop {
  display: none;
}

.logo {
  z-index: 5;
}

.logo img {
  width: 150px;
}

#nav-btn {
  border: none;
  background: none;
  color: $White;
  font-size: 2rem;
  z-index: 5;
}

h1 {
  border: 2px solid $White;
  font-size: 2.5rem;
  margin: auto;
}

#About article {
  margin: 1rem 0rem;
  text-align: center;
  & p {
    line-height: 1.6;
    color: $Very-Dark-Gray;
    padding: 0rem 2rem;
  }
}

#our-creation {
  display: flex;
  flex-direction: column;
  & h2 {
    text-align: center;
  }
}

#our-creation button {
  order: 1;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  margin: 2rem auto;
  display: block;
  transition: all 0.3s;
  &:hover {
    background-color: $Black;
    color: $White;
  }
}

#grid-images {
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

#grid-images li {
  cursor: pointer;
  position: relative;

  & h3 {
    transition: all 0.3s;
    position: absolute;
    color: $White;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.493) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    &:hover {
      background: none;
      background-color: rgba(255, 255, 255, 0.43);
      color: black;
    }
  }
}

footer {
  background-color: $Black;
  color: $White;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2rem;
  & p {
    color: $Dark-Gray;
  }
}

.nav-items-footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

address {
  display: flex;
  & a {
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
    & i:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}

// dynamic styles
.nav-items-mobile {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  padding-left: 1rem;
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}

.desktop-img {
  display: none;
}

.mobile-img {
  display: block;
}

//media query

@media screen and (min-width: 1100px) {
  section {
    margin-top: 10rem;
  }
  .container {
    padding: 3rem 10%;
  }
  #nav-btn {
    display: none;
  }
  .nav-items-desktop {
    display: flex;
    gap: 2rem;
  }
  h1 {
    margin: auto 0;
    font-size: 4rem;
    line-height: 1;
    width: 55%;
  }

  #About {
    position: relative;
    & img {
      width: 60%;
    }
    & article {
      text-align: left;
      background-color: white;
      width: 50%;
      padding: 2rem;
      position: absolute;
      top: 40%;
      left: 45%;
    }
  }

  #our-creation button {
    order: 0;
  }

  footer p {
    order: 1;
    justify-self: right;
  }

  footer address {
    justify-self: right;
  }

  .logo-footer {
    justify-self: left;
  }

  .nav-items-footer {
    justify-self: left;
    flex-direction: row;
    order: 1;
  }

  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }
}
